@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Sistema desenvolvido na conclusão do curso C# e OO, coleções, UML, ASP.NET, Entity Framework, LINQ, Lambda da Udemy - Nelio Alves.</p>
