@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Sandro Junqui<br />
    Avaré SP<br />
    <abbr title="Phone">P:</abbr>
    14991669090
</address>

<address>
    <strong>Support:</strong> <a href="mailto:suporte@junquinet.com.br">suporte@junquinet.com.br</a><br />
    <strong>Developer:</strong> <a href="mailto:sandrojunqui@junquinet.com.br">sandrojunqui@junquinet.com.br</a>
</address>
